img
{
    height: 250px;
    width: 100%;
}
.ag
{
    height: 50px;
}
.agrandar
{
    width: 60px;
    height: 60px;
}
.centrar
{
    margin: auto;
    font-weight: bold;
}
.arturo
{
    width: 62px;
}

p
{
    background: orange;
}
.a123
{
    width: 100%;
    height: 395px;
}