.select-interface-option {
    color: red;
  }
  img
  {
      height: 350px;
  }
  .esa{
	width: 59vh;
    height: 50px;
    background-color:blanchedalmond;
}
.tapa
{
   background-color:cyan;
}
.agrandar
{
    height: 75px;
}