<ion-card>
  <ion-button color="danger" (click)="scanBRcode()" expand="block">
      Scan Barcode
  </ion-button>
</ion-card>
<ion-content>
    <ion-item *ngIf="creditoAux">{{creditoAux.email}} </ion-item>
    <ion-item *ngIf="creditoAux"> Credito Cargado {{creditoAux.credito}} </ion-item>

</ion-content>

<ion-card>
  <div *ngIf="scannedBarCode">
    <ion-item>
      Scanned code output: <strong>{{ credito}}</strong>
  </ion-item>
      <ion-item>
          Scanned code output: <strong>{{ scannedBarCode["text"] }}</strong>
      </ion-item>
      <ion-item>
          Scanned code output: <strong>{{ scannedBarCode["format"] }}</strong>
      </ion-item>
  </div>
</ion-card>