.bandera
{
    height: 100px;
    width: 100px;
}
.colores
{
    height: 186px;
}
.coloress
{
    height: 185px;
    border: skyblue solid 3px;
}
.imagen
{
    display: block;
    height: 150px;
    margin:auto;
}
.tres
{
    margin-top: 7px;
}
.cuatro
{
    margin-top: 7px;
}
.seis
{
    margin-top: 8px;
}
.imagenn
{
    display: block;
    height: 180px;
    margin:auto;
    margin-bottom: 20px;
}
.imagennn
{
    padding-top: 3px;
    display: block;
    height: 160px;
    margin:auto;
    margin-bottom: 20px;
}
.ccc
{
    background-color: #625480;
}
.total
{
    width: 100%;
    height: 100%;
}
.enbloque
{
    display: inline;
}
.padingcostadoderecho
{
     padding-right: 75px;
}
.g
{
    height: 60px;
    background-color: burlywood;
}
.t
{
    width: 50px;
    height: 50px;
}
.tete
{
    margin-left: 20px;
}
